* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

:root{
  --main-bg-color: linear-gradient(45deg, #92b6d5, #a9bed0, #a7b8c5, #92b6d5);
}
.wrapper{
  width: 100vw;
  min-height: 100vh;
  background: var(--main-bg-color);
}