* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

:root{
  --main-bg-color: linear-gradient(45deg, #92b6d5, #a9bed0, #a7b8c5, #92b6d5);
}
h2{
  font-size: 28px;
  color: rgba(62, 64, 65, 0.63);
}
.wrapper{
  width: 100vw;
  min-height: 100vh;
  background: var(--main-bg-color);
}
.loader_container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.loader{
  width: 75px;
  height: 75px;
  border:10px solid #61a4ec;
  border-radius: 50%;
  border-left-color: #3c74c7;
  animation: loader 1.3s linear infinite;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}